<li id="book-<%= book.id %>">
  <%= link_to gravatar_for(book.user, size: 50), book.user %>
  <span class="name"><%= link_to book.name, book_path(book) %></span>
  <span>
    <%= link_to((image_tag book.picture.thumb200.url), book_path(book.id), class: 'book-picture') if book.picture.url.present? %>
  </span>
  <span class="thoughts"><%= book.thoughts %></span><br>
  <span class="timestamp">
    <%= time_ago_in_words(book.created_at) %>前に投稿
  </span>
  <% if current_user.admin? || (current_user == book.user) %>
    <%= link_to "削除", book_path(book), method: :delete,
                       data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</li>
