<%= form_with model: @book, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <span class="picture">
    <%= f.label :picture %>　<span class="input-unneed"></span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'book_picture' %>
  </span>
  <div class = 'form-group'>
    <%= f.label :name %>　<span class="input-need"></span>
    <%= f.text_field :name, class: 'form-control', id: 'book_name' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :thoughts %>　<span class="input-unneed"></span>
    <%= f.text_field :thoughts, size: "60x4", class: 'form-control', id: 'book_thoughts' %>
  </div>
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>